body {
    td {
        border:  2px solid black;
        height:  100px;
        width:  100px;
        text-align:  center;
        vertical-align:  middle;    
        font-family: 'Electrolize', sans-serif;    
        font-size:  60px;
        color: black;
        cursor: pointer;	
    }
    .choose {
        display: block;
    }
    .game {
        display: none;
    }
    .block {
        display: block;
    }
    .none {
        display: none;
    }
}